.typographyHeadingH1 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 61.599998474121094px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingH3 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingH4 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35.20000076293945px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingH5 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.399999618530273px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingH6 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextSmall 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.600000381469727px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextSmallBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.600000381469727px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextNormal 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.399999618530273px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextNormalBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.399999618530273px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.200000762939453px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextMediumBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.200000762939453px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextLarge 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTextLargeBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

